:root {
  --backgroundTheme:   #181818;
  --textColor:  #ffffff;
  --primary: #99cdeb;
  --light: #2695d1;
  --dark: #000000;
  --hooverEffect: #616ba2;
  --shadow: rgba(126, 124, 124, 0.871);

  --primary-op-75: #99cdeb85;
  --hooverEffect-op-75: #535fa2b4;

  --font: 'Lato', sans-serif;
}

.root{
  display: grid;
  font-family: var(--font);
}

body{
  background: linear-gradient(24deg, var(--primary-op-75), var(--dark));
  background-repeat: no-repeat;
  display: grid;

  width: 100%;
  padding-bottom: 50px;
  padding-top: 125px;
}

.loginForm{
  position: relative;
  margin:  auto;
  padding: 5px 5px;
  width: 50%;
  height: 369px;
  color: var(--textColor);
  text-align: center;
}
